/* indicazioni generali */

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/background.png);
}

.container {
  width: 85%;
}

/* Header: titolo & navbar */

header {
  margin-top: 25px;
}

.title {
  height: 70%;
  border: 10px solid white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 50px;
  background-image: url(img/header.jpg);
  background-size: cover;
}

.title h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.5;
}

.title h2 {
  font-size: 18px;
  font-weight: 200;
}

.navbar {
  height: 30%;
  text-align: center;
  background-color: #504741;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.navbar ul li {
  display: inline-block;
  text-align: center;
}

li {
  padding: 15px;
  font-size: 12px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/* main con sezione centrare e i 2 aside */

main {
  margin: 25px auto;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* Aside di destra */
.info {
  width: 25%;
  height: 800px;
  float: left;
}

.pages {
  height: 500px;
  border: 3px solid black;
}

.archives {
  height: 100px;
  border: 3px solid black;
  margin: 15px 0;
}

.meta {
  height: 200px;
  border: 3px solid black;
}

/* sezione centrale */
.articles {
  width: 45%;
  height: 1200px;
  float: left;
  border: 3px solid black;
  margin: 0 15px;
}

/* aside di destra */
.search-tag {
  width: 27.3%;
  height: 360px;
  float: left;
}

.search {
  height: 120px;
  border: 3px solid black;
}

.tag {
  height: 240px;
  border: 3px solid black;
  margin-top: 15px;
}

/* footer diviso in link utili e copyright */

footer {
  height: 350px;
}

.links {
  height: 250px;
  position: relative;
  border: 3px solid black;
}

.posts, .comments, .categories, .widget {
  height: 170px;
  width: 15%;
  border: 3px solid black;
  display: inline-block;
  position: relative;
  top: 40px;
  margin: 0 55px;
}

.social {
  height: 100px;
  border: 3px solid black;
}
