/* indicazioni generali */

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/background.png);
}

.container {
  width: 93%;
}

/* Header: titolo & navbar */

header {
  margin-top: 25px;
}

.title {
  height: 70%;
  border: 10px solid white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 50px;
  background-image: url(img/header.jpg);
  background-size: cover;
}

.title h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.5;
}

.title h2 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.1em;
}

.navbar {
  height: 30%;
  text-align: center;
  background-color: #504741;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.navbar ul li {
  display: inline-block;
  text-align: center;
}

li {
  padding: 15px;
  font-size: 12px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/* main con sezione centrare e i 2 aside */

main {
  margin: 25px auto;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

/* Aside LEFT */
.info {
  width: 25%;
  float: left;
}

.pages {
  background-color: white;
  border-radius: 2px;
  padding-bottom: 15px;
}

h4 {
  font-size: 18px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  padding: 20px;
  font-weight: lighter;
  color: #504741;
}

h6 {
  font-size: 16px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  padding: 12px 30px;
  font-weight: lighter;
  color: #99CC33;
}

.archives {
  border-radius: 2px;
  background-color: white;
  margin: 15px 0;
  padding-bottom: 15px;
}


.meta {
  border-radius: 2px;
  background-color: white;
  padding-bottom: 15px;
}

/* sezione centrale */
.articles {
  width: 45%;
  float: left;
  border-radius: 2px;
  background-color: white;
  margin: 0 15px;
}

/*  componenti singolo articolo */

.post {
  border-bottom: 0.5px solid rgb(207, 210, 218);
  padding-bottom: 50px;
}

.post h2 {
  font-size: 32px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  color: #504741;
  padding: 20px;
}

.post span {
  display: block;
  padding: 3px 20px;
  font-size: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #666666;
}

.post img {
  width: 100%;
  padding-top: 20px;
}

.post .text {
  padding: 20px;
  line-height: 1.7em;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #666666;
}

.post .tag {
  padding: 15px 20px;
  line-height: 1.7em;
  font-size: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #666666;
}

/* aside RIGHT */
.search-tag {
  width: 27.3%;
  float: left;
}

.search {
  border-radius: 2px;
  background-color: white;
  text-align: center;
  padding: 35px;
}

.search-bar {
  width: 160px;
  height: 40px;
  padding: 10px;
  border-radius: 2px;
}

.btn {
  width: 70px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid black;
  color: white;
  background-color: #504741;
}

.tag {
  background-color: white;
  border-radius: 2px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.tag p {
  font-size: 10px;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  padding: 5px 20px;
  font-weight: lighter;
  color: #99CC33;
}



/* footer diviso in link utili e copyright */

footer {
  background-color: white;
}

/* HIGH FOOTER */

.links {
  float: left;
  width: 20%;
}

.widget {
  float: right;
  width: 35%;
  display: inline-block;
  padding: 0 20px;
}

.widget h4 {
  padding-left: 0;
}

.widget p {
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #666666;
  line-height: 1.7em;
}


.high-footer {
  padding: 20px;
  border-bottom: 0.5px solid rgb(207, 210, 218);
}

.high-footer::after {
  content: "";
  display: table;
  clear: both;
}

.links h6 {
  display: block;
  padding: 10px 20px;
  color: #666666;
}

/* LOW FOOTER */

.copy {
  float: left;
  padding: 20px;
  margin-top: 25px;
}

.copyright {
  font-size: 16px;
  font-family:  'Roboto', Arial, Helvetica, sans-serif;
  color: #666666;
  padding: 2px;
}

.low-footer {
  padding: 20px;
}

.social-links {
  float: right;
  padding: 40px;
}

i {
  padding: 20px;
  background-color: rgb(207, 210, 218);
  border-radius: 50%;
  color: #666666;
  margin-bottom: 20px;
}

.low-footer::after {
  content: "";
  display: table;
  clear: both;
}
